@font-face {
    font-family: 'GildaDisplay';
    src: url('/fonts/GildaDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

h1 {
    font-family: 'GildaDisplay';
    color: #38404e;
    font-size: 48px;
    margin-left: 40px;
    margin-right: 40px;
}

h2 {
    font-family: 'GildaDisplay';
    color: #38404e;
    font-size: 36px;
    margin-left: 40px;
    margin-right: 40px;
}

h3 {
    font-family: 'GildaDisplay';
    color: #38404e;
    font-size: 24px;
    margin-left: 40px;
    margin-right: 40px;
}

p {
    font-family: 'Roboto';
    font-size: large;
    margin-left: 40px;
    margin-right: 40px;
}

strong {
    font-family: 'Roboto-Bold';
}

a {
    font-family: 'Roboto';
    font-size: large;
    text-decoration: none;
}

li {
    font-family: "Roboto";
    font-size: large;
}

#nav-container {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-small {
    display: none;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    padding: 10px 0 6px 0;
    gap: 20px;
    flex-wrap: wrap;
}

#logo-container img {
    height: 40px;
    object-fit: contain;
}

nav {
    background-color: #38404e;
    position: relative;
    display: flex;
    align-items: center;
}

#nav-bar {
    display: flex;
    gap: 40px;
    padding: 0;
    margin: auto;
}

nav ul {
    list-style-type: none;
}

nav li.dropdown {
    height: 50px;
    display: flex;
    align-items: center;
}

nav a {
    color: #bac9d9;
    position: relative;
    margin: 0;
}

nav a:hover {
    color: white;
}

#hamburger {
    background: none;
    border: none;
    font-size: 28px;
    color: #bac9d9;
    cursor: pointer;
    display: none;
    padding: 10px 20px;
}

#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

#section-nav {
    text-align: center;
}

#footer {
    margin-top: 40px;
    height: 100px;
    background-color: #38404e;
}

@media screen and (max-width: 650px) {
    .logo-full {
        display: none;
    }

    .logo-small {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    #logo-container h2 {
        font-size: 24px;
        margin: 0;
    }

    #hamburger {
        display: block;
        align-self: flex-start;
    }

    #hamburger:hover {
        color: white;
    }

    #nav-bar {
        flex-direction: column;
        display: none;
        width: 100%;
        gap: 0;
        padding: 10px 0;
    }

    #nav-bar.show {
        display: flex;
        height: auto;
    }

    h1 {
        font-size: 36px;
    }
    
}

@media screen and (max-width: 402px) {
    #logo-container h2 {
        font-size: 20px;
    }

    h1 {
        font-size: 36px;
    }
}